
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
    border-radius: 0.5rem 0.5rem 0 0;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container, .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.selected.tab-border-top>.tab-border-top-container {
    height: 0;
}

.breadcrumbs-below-tabs {
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    padding: 9px 0;
    background: var(--vscode-editor-background);
}

.monaco-breadcrumbs {
    font-size: 0.7rem;
}

.monaco-editor .sticky-widget {
    box-shadow: none;
}

.monaco-editor .scroll-decoration {
    box-shadow: none;
}

.monaco-editor .sticky-widget {
    border-color: var(--vscode-textCodeBlock-background);
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active {
    box-shadow: 0 6px 0 0 var(--vscode-textCodeBlock-background);
}

.title.tabs .tabs-and-actions-container > div.editor-actions {
    opacity: 0;
    transition: all 0.15s;
}
.title.tabs .tabs-and-actions-container:hover > div.editor-actions {
    opacity: 1;
    pointer-events: all;
}

.tabs-and-actions-container:has(.tab.active:first-child){
    box-shadow: -20px 5px 0 0 var(--vscode-editor-background);
}

.editor-group-container {
    border-radius: 0.5rem;
    overflow: hidden;
}

.split-view-view.visible {
    background: var(--vscode-textCodeBlock-background);
}

.monaco-split-view2.separator-border.vertical>.monaco-scrollable-element>.split-view-container>.split-view-view:not(:first-child):before {
    background: var(--vscode-textCodeBlock-background) !important;
}

.monaco-split-view2.separator-border>.monaco-scrollable-element>.split-view-container>.split-view-view:not(:first-child):before {
    background: var(--vscode-textCodeBlock-background) !important;
    width: 10px;
}

.monaco-scrollable-element>.split-view-container .editor-container .overflow-guard .overlayWidgets .editor-widget.find-widget.visible > div.monaco-sash.vertical {
    background-color: var(--vscode-icon-foreground) !important;
}

.monaco-workbench .part.editor>.content .sash-container > .monaco-sash.vertical:not(.disabled) {
    background-color: var(--vscode-textCodeBlock-background) !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border-radius: 5rem;
    border: none;
}

.sidebar ul[role=tablist] .action-item {
    width: 32px;
    height: 32px !important;
    padding: 0px !important; 
    align-items: center !important;
    border-radius: 8px;
}

.sidebar ul[role=tablist] .action-item.checked {
    background-color: var(--vscode-editor-background) !important; 
}

li.action-item.icon {
    transition: all 0.15s;
    opacity: 0.5;
}

li.action-item.icon.checked, li.action-item.icon:hover {
    opacity: 1;
}

.sidebar .composite-bar-container:has( ul[role=tablist]) {
    justify-content: center;
}

.sidebar ul[role=tablist] .action-label:before {
    left:auto !important;
}
.sidebar ul[role=tablist] .active-item-indicator {
    display:none !important;
}

.monaco-pane-view .pane>.pane-header {
    padding: 0 6px;
    border-radius: 5px;
    margin: 1px 5px 0;
}

.monaco-workbench .part.sidebar>.title {
    background: transparent;
    padding: 0;
    border-radius: .5rem;
}

/* height of line underneath checked panel item */
.monaco-workbench .pane-composite-part>.header-or-footer>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked .active-item-indicator:before, .monaco-workbench .pane-composite-part>.header-or-footer>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .active-item-indicator:before, .monaco-workbench .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked .active-item-indicator:before, .monaco-workbench .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .active-item-indicator:before {
    border-top-width:1px;
}

.terminal-wrapper.active {
    background: var(--vscode-editor-background);
}

div#terminal {
    border-radius: .75rem;
    overflow: hidden;
}

.monaco-workbench .pane-body.integrated-terminal .terminal-split-pane {
    border-radius: 0.5rem;
    overflow: hidden;
}

.monaco-workbench .part.panel {
    background: var(--vscode-textCodeBlock-background) !important; 
    overflow: hidden;
    border-radius: 0.5rem !important; 
    display:flex !important; 
    flex-direction:column !important; 
}

[id='workbench.parts.panel'] .composite.panel .split-view-view.visible:not(:has( .tabs-container)) {
    background: var(--vscode-editor-background);
    border-radius: .75rem;
    overflow: hidden;
}

[id='workbench.parts.panel'] .composite.panel .split-view-view.visible:not(:has( .tabs-container)) .monaco-list-rows {
    background: var(--vscode-editor-background);
}

[id='workbench.parts.panel'] .composite.panel .split-view-view.visible .view-line {
    background: var(--vscode-editor-background);
}

[id='workbench.parts.panel'] .composite-bar li.action-item.checked {
    background: var(--vscode-editor-background);
    border-radius: 0.5rem 0.5rem 0px 0px;
    position: relative;
}

[id='workbench.parts.panel'] > .composite.title.has-composite-bar {
    padding-left: 0px;
}

[id='workbench.parts.panel'] > .composite.title.has-composite-bar:has(.action-item.checked:first-child) {
    box-shadow: -20px 20px 0 0 var(--vscode-editor-background);
}

[id='terminal'] .integrated-terminal .split-view-container .tabs-container {
    border-left-width: 10px !important;
}

.quick-input-widget {
    width: 60% !important;
    left: 20% !important;
    top: 20% !important;
    padding: 5px !important;
    background-color: var(--vscode-textCodeBlock-background) !important;
    border-radius: 10px !important;
    border: 2px solid var(--vscode-icon-foreground) !important;
    backdrop-filter: blur(10px); 
}

.quick-input-widget .monaco-inputbox {
    padding: 10px !important;
    margin-bottom: 4px;
    border-radius: 8px !important;
}

.quick-input-widget .monaco-list-row { 
    border-bottom: 1px solid #333942;
}

.quick-input-widget .quick-input-list-entry { 
    position: relative;
    padding: 0 10px 0px 10px;
}

.filematch .monaco-icon-label:before, .custom-list-row.results .monaco-list-row .monaco-icon-label:before { background-position: 0 bottom !important;}
.quick-input-widget .quick-input-list-entry .codicon[class*=codicon-] { font-size:12px; }
.quick-input-widget .quick-input-list .quick-input-list-entry.quick-input-list-separator-border { border-top-width:0px !important; }
.quick-input-widget.show-file-icons, .editor-widget.find-widget { box-shadow: none !important; }
.quick-input-list-row div { display: flex !important; align-items: center !important; }
